<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>병원 목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8f4dacf22963ea0d7cbcad6733464a28&libraries=services,places,geometry"></script>

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h2>병원 찾기 (대전)</h2>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="병원 이름을 입력하고 Enter를 누르세요...">
    </div>
    <div id="map" class="map_wrap" style="width:100%; height:500px; border-radius: 8px; margin-bottom: 20px;"></div>
    <h3>병원 목록</h3>
    <ul id="hospitalList"></ul>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:inline="javascript">
    window.allHospitalData = /*[[${hospitals}]]*/ [];
</script>
<script th:src="@{/js/hospital_list.js}"></script>

</body>
</html>