<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.PsnProject.dao.BannerDAO">

    <select id="getActiveBanners" resultType="com.koreait.PsnProject.dto.BannerDTO">
        SELECT * FROM banner WHERE CURDATE() BETWEEN start_date AND end_date
    </select>

    <insert id="insertBanner" parameterType="com.koreait.PsnProject.dto.BannerDTO">
        INSERT INTO banner (hospital_id, image_url, start_date, end_date)
        VALUES (#{hospitalId}, #{imageUrl}, #{startDate}, #{endDate})
    </insert>

</mapper>
